@font-face {
  font-family: DancingScript;
  src: url(dancingScript_font/DancingScript-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgb(237, 209, 133), beige);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.mainPage {
  font-family: sans-serif;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
header {
  color: whitesmoke;
  background-color: rgba(99, 51, 2, 0.986);
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 3.5em;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: DancingScript;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h3 {
  width: 100%;
}

a {
  width: 50%;
  height: 30px;

  color: whitesmoke;
  text-align: center;
  background-color: rgba(99, 51, 2, 0.986);
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
}
a:hover {
  background-color: rgba(135, 70, 6, 0.986);
}

.authors img {
  height: 150px;
  border-radius: 50%;
}
.aboutme__jarka img {
  padding-top: 5%;
  padding-left: 5%;
  height: 250px;
  border-radius: 5% 5% 5% 5%;
}
.aboutme__jarka {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 2rem;
}

.header__icon {
  height: 3em;
  filter: invert();
  padding: 0px 20px;
  display: none;
}
main {
  color: rgba(99, 51, 2, 0.986);
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
}
section {
  width: 100%;
  padding: 0% 5%;
}
.mainInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainInfo__intro,
.mainInfo__encyclopedia,
.mainInfo__game,
.mainInfo__lastNote {
  width: 100%;
}
.authors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.authors__intro,
.authors__jarka,
.authors__tyna {
  width: 100%;
}
.authors__jarka,
.authors__tyna {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.authors__jarka > div,
.authors__tyna > div {
  width: 100%;
  text-align: center;
  padding: 5px 0px 30px 0px;
}
footer {
  color: whitesmoke;
  background-color: rgba(99, 51, 2, 0.986);
  height: 30px;
  padding: 0px 5px;
  font-size: 0.7em;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 570px) {
  .authors__jarka,
  .authors__tyna {
    width: 50%;
  }
  .header__icon {
    display: block;
  }
}
@media (min-width: 900px) {
  .mainInfo__encyclopedia,
  .mainInfo__game {
    width: 50%;
  }
  .mainPage {
    width: 70%;
  }
}
