@font-face {
  font-family: DancingScript;
  src: url(dancingScript_font/DancingScript-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
}

.mainPage {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
header {
  color: whitesmoke;
  background-color: rgba(99, 51, 2, 0.986);
  display: flex;
  justify-content: center;
}
header h1 {
  font-size: 3.5em;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: DancingScript;
  text-align: center;
}
h1 {
  font-size: 3em;
}
.header__icon {
  display: none; /* bude vidět na široké obrazovce */
}
.project {
  color: rgba(99, 51, 2, 0.986);
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
}
footer {
  color: whitesmoke;
  background-color: rgba(99, 51, 2, 0.986);
  height: 30px;
  padding: 0px 5px;
  font-size: 0.7em;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
